<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userloginsystem.mapper.UserMapper">

    <!-- select id就是找到方法名，resultType就是确定这个方法的返回值类型  -->
    <select id="findByUsername" resultType="com.example.userloginsystem.entity.User">
        select id, username, password_hash, nickname, created_at, updated_at
        from user
        where username = #{username}
        limit 1
    </select>

    <select id="findById" resultType="com.example.userloginsystem.entity.User">
        select id, username, password_hash, nickname, created_at, updated_at
        from user
        where id = #{id}
        limit 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password_hash, nickname)
        values (#{username}, #{passwordHash}, #{nickname})
    </insert>

    <select id="findByOpenid" resultType="com.example.userloginsystem.entity.User">
        select * from user where openid = #{openid}
    </select>

</mapper>